<ion-view view-title="Amigos">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/mike.png">
                    <h2>Pablo Dosce</h2>
                    <p>cooperativa codigo libre</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/perry.png">
                    <h2>Juan Lara</h2>
                    <p>puente del sur</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/laura.jpg">
                    <h2>Laura matos</h2>
                    <p>cooperativa los chanchitos</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
