<ion-view view-title="Info Producto">
<ion-content> 
<div class="card">
    <div class="item item-divider">{{actividad}}</div> 
</div>
<div align="center">
    <h2>{{producto.nombreProducto}} - {{producto.nombreVariedad}}</hs>
    <ion-list>
        <ion-item ng-repeat="i in imagenes">
            <div align="center" >
                <img ng-src="{{i.path}}" height="200" width="200">
            </div>
        </ion-item>
    </ion-list>
    <div ng-disabled="true">
         <p ng-bind-html="renderHTML(producto.descripcion)"/>
    </div>
</div>
<fieldset ng-disabled="true" class="list form"> 
    <label class="item item-input">
        <span class="input-label">Productor:</span>
        <input type="text" ng-value="producto.nombreFabricante"></input>
    </label>
    <label class="item item-input">
        <span class="input-label">Precio:</span>
        <input type="text" ng-value="producto.precio"></input>
    </label>
    <label class="item item-input">
        <span class="input-label">Stock:</span>
        <input type="text" ng-value="producto.stock"></input>
    </label>
</fieldset> 
<!-- <div class="list form"> -->
    <!--<label class="item item-input">
      <span class="input-label">Nombre:</span>
      <input type="text" ng-disabled="true" ng-model="productor.nombreProductor">
    </label>
    <label class="item item-input">
      <span class="input-label">Pais:</span>
      <input type="text" ng-disabled="true" ng-model="productor.direccion.pais">
    </label>
    <label class="item item-input">
      <span class="input-label">Provincia:</span>
      <input type="text" ng-disabled="true" ng-model="productor.direccion.provincia">
    </label>
    <label class="item item-input">
      <span class="input-label">Localidad:</span>
      <input type="text" ng-disabled="true" ng-model="productor.direccion.localidad">
    </label>
    <label class="item item-input">
      <span class="input-label">Calle:</span>
      <input type="text" ng-disabled="true" ng-model="productor.direccion.calle">
     </label>
    <label class="item item-input">
      <span class="input-label">Altura:</span>
      <input type="text" ng-disabled="true" ng-model="productor.direccion.altura">
    </label> -->
<!-- </div>   -->
</ion-content> 
</ion-view>