<ion-view view-title="Info Producto">
<ion-content> 
<div class="card">
    <div class="item item-divider">{{actividad}}</div> 
</div>
<div align="center">
    <h2>{{producto.nombreProducto}} - {{producto.nombreVariedad}}</h2>
    <a ng-click="openModal()"><img ng-src="{{producto.imagenPrincipal}}" height="200" width="200"/></a>
    <div ng-disabled="true">
         <p ng-bind-html="renderHTML(producto.descripcion)"/>
    </div>
    <div class="row">
        <div class="col-offset-20"> 
        </div>
        <div class="col col-33">
            <div class="row">
                <div ng-repeat="m in producto.medallasProducto" >
                    <div class="col col-50 item item-insignia item-avatar item-icon-right">
                        <img src="http://www.proyectochasqui.com:8080/chasqui/imagenes/usuarios/ROOT/agroecologia.png"> 
                    </div>  
                </div>   
            </div>
        </div>
    </div>
<fieldset ng-disabled="true" class="list form"> 
    <label class="item item-input">
        <span class="input-label">Productor:</span>
        <input type="text" ng-value="producto.nombreFabricante"></input>
    </label>
    <label class="item item-input">
        <span class="input-label">Precio:</span>
        <input type="text" ng-value="producto.precio"></input>
    </label>
    <label class="item item-input">
        <span class="input-label">Stock:</span>
        <input type="text" ng-value="producto.stock"></input>
    </label>
</fieldset> 
<!-- <div class="list form"> -->
    <!--<label class="item item-input">
      <span class="input-label">Nombre:</span>
      <input type="text" ng-disabled="true" ng-model="app/loginproductor.nombreProductor">
    </label>
    <label class="item item-input">
      <span class="input-label">Pais:</span>
      <input type="text" ng-disabled="true" ng-model="productor.direccion.pais">
    </label>
    <label class="item item-input">
      <span class="input-label">Provincia:</span>
      <input type="text" ng-disabled="true" ng-model="productor.direccion.provincia">
    </label>
    <label class="item item-input">
      <span class="input-label">Localidad:</span>
      <input type="text" ng-disabled="true" ng-model="productor.direccion.localidad">
    </label>
    <label class="item item-input">
      <span class="input-label">Calle:</span>
      <input type="text" ng-disabled="true" ng-model="productor.direccion.calle">
     </label>
    <label class="item item-input">
      <span class="input-label">Altura:</span>
      <input type="text" ng-disabled="true" ng-model="productor.direccion.altura">
    </label> -->
<!-- </div>   -->

    <script id="image-modal.html" type="text/ng-template">
        <div class="modal image-modal transparent" 
        ng-click="closeModal()">
            <ion-slide-box on-slide-changed="slideChanged(index)" 
                       show-pager="false">
            <ion-slide ng-repeat="i in imagenes">
                <img ng-src="{{i.path}}" class="fullscreen-image" />
            </ion-slide>
            </ion-slide-box>
        </div>
    </script>
</ion-content> 
</ion-view>