<ion-view view-title="Info Producto">
    <ion-content>
        <div class="card">
            <div class="item item-divider">{{actividad}}</div>
        </div>
        <div class="row">
            <div class="col" align="center">
                <a ng-click="openModal()"><img ng-src="{{producto.imagenPrincipal}}" height="300" /></a>
            </div>
        </div>
        
        <div class="row">
            <div class="col" align="center">
                <h3>{{producto.nombreProducto}}</h3>
                <h4>{{producto.nombreVariedad}}</h4>
            </div>
        </div>
        
        <div class="">
            <div class="card-info ion-ios-people">
                {{producto.nombreFabricante}}
            </div>
            <br>
            <button class="card-info ion-social-usd">
                {{producto.precio}}
            </button>
        </div>
        
            
        <div class="row">

            <div class="col col-10"></div>

            <!--descripcion html del producto-->
            <div ng-disabled="true" class="col col-90">
                <p><b>Información</b></p>
                <p ng-bind-html="renderHTML(producto.descripcion)" />
            </div>
        </div>
            
            <!--medallas-->
<!--            <div class="row-chasqui center-xs-chasqui">
                <div class="col-xs-2-chasqui" ng-repeat="m in producto.medallasProducto">
                    <div class="item item-insignia item-avatar item-icon-right ">
                        <img ng-src="{{m.pathImagen}}" />
                    </div>
                </div>
            </div>-->
            
            <!--fiels de productor y precio-->
<!--            <fieldset ng-disabled="true" class="list form">
                <label class="item item-input">
                    <span class="input-label">Productor:</span>
                    <input type="text" ng-value="producto.nombreFabricante"></input>
                </label>
                <label class="item item-input">
                    <span class="input-label">Precio:</span>
                    <input type="text" ng-value="producto.precio | currency"></input>
                </label>
            </fieldset>-->

        <script id="image-modal.html" type="text/ng-template">
            <div class="modal image-modal transparent" ng-click="closeModal()">
                <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false">
                    <ion-slide ng-repeat="i in imagenes">
                        <img ng-src="{{i.path}}" class="fullscreen-image" />
                    </ion-slide>
                </ion-slide-box>
            </div>
        </script>

    </ion-content>
</ion-view>