<ion-view align-title="left">
    <ion-content style="background: url(img/md192.jpg) center; background-size: cover;">
    <!-- <ion-content style="background-image: url(../img/footer_lodyas_black.png);background-attachment: fixed;"> -->
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
            </div>
        </div>
        <div class="list input-login">
            <ion-md-input placeholder="Email" highlight-color="balanced" type="text" ng-model="usuario.email"></ion-md-input>
            <ion-md-input placeholder="Contraseña" highlight-color="energized" type="password" ng-model="usuario.password"></ion-md-input>
        </div>
        <div class="padding text-center">
            <button class="button button-small button-assertive ink" ng-click="login()">Ingresar</button>
            <button ui-sref="singup" class="button button-small button-positive ink">Registrarse 
            </button>
        </div>
    </ion-content>
</ion-view>
