<ion-view view-title="Medallas">
    <ion-content>
        <ion-list>
            <div ng-repeat="m in mss" class="animate-fade-slide-in" ng-last-repeat="medallas">
                <div class="item item-avatar item-icon-right" ng-click="verMedalla(m)">
                    <img ng-src="{{m.pathImagen}}">
                    <h2>{{m.nombre}}</h2>
                    <p ng-bind-html="renderHTML(m.descripcion)"/>
                </div>
            </div>
        <ion-list>
    </ion-content> 
</ion-view>