<ion-side-menus enable-menu-with-back-views="true"> 

    <!-- Side Menu Content -->
    <ion-side-menu-content >
        <ion-nav-bar class="bar-royal2" 
                     ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
            <!-- Back Button -->
            <!--<ion-nav-back-button class="no-text"></ion-nav-back-button> -->
            <!-- Left Side Button -->
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="left"></button>
            </ion-nav-buttons>
            <!-- Right Side Button -->
            <ion-nav-buttons side="right">
                <button id="fab-profile" 
                        class="button button-fab button-fab-bottom-center buttons-  stable-100" 
                        ng-click="onVerNotificaciones($event)">
                        <i class="ion-ios-bell"></i>
                </button>        
            </ion-nav-buttons>
        </ion-nav-bar>
        <!--Loads views-->
        <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" ></ion-nav-view>
    </ion-side-menu-content>

    <!-- Left Side Menu -->
    <ion-side-menu side="left" ng-controller="sideMenuCtrl" class="royal2-bg   ">
        <div class="avatar header-menu-color" 
            style="background: url('img/logo.png'); background-size: cover;">
        </div>
        <ion-content class="royal2-bg has-expanded-header">
            <ion-list>
                <div class="espacio-small"></div>
                <div ng-repeat="group in groups">
                    <ion-item class="item-stable" 
                              ui-sref="{{group.sref}}" 
                              nav-clear menu-close 
                            class="item-accordion">
                            {{group.title}}
                    </ion-item>
                </div>
                <ion-item class="item-stable" 
                          nav-clear menu-close 
                          ng-click="desconectar()" 
                        class="item-accordion">
                        Cerrar Sesión
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>