<ion-view view-title="Productos">
<ion-content> 
<div class="card">
    <div class="item item-divider">{{actividad}}</div> 
</div>
  <ion-list class="animate-fade-slide-in">
      <div ng-repeat="p in pss">
        <div class="card">
          <div class="item item-text-wrap">
            <div class="row">
              <div class="col col-90">
                <div class="row">
                   <h3 class="dark">{{p.nombreProducto}} {{p.nombreVariedad}}<h3>
                </div>
                <div class="row">
                  <label>Stock:</label>
                  <label>{{p.stock}}</label>
                </div>
                <div class="row">
                  <label>Precio:</label>
                  <label>{{p.precio}}</label>
                </div>
               </div>
               <div class = "col col-10 item item-avatar item-icon-right">
                  <img ng-src="{{p.imagenPrincipal}}" align="left">
               </div>
            </div>
             <div class="row mt">
              <lx-button lx-size="xs" lx-type="raised" >Ver Info.
              </lx-button>
              <lx-button class="btn btn--m btn--raised bgc-green-100 tc-green-900" lx-size="xs" lx-type="raised">Agregar al carrito
              </lx-button>
            </div>
          </div>
        </div>
      </div>
  <ion-list>
</ion-content> 
</ion-view>