<ion-view view-title="Perfil" align-title="left">

<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Nombre</span>
    <input type="text" placeholder="Nombre">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Apellido</span>
    <input type="text" placeholder="Apellido">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Email">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Nick</span>
    <input type="text" placeholder="Nick">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Telefono</span>
    <input type="text" placeholder="Telefono">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Celular</span>
    <input type="text" placeholder="Celular">
  </label>
  <button class="button button-block button-positive">Ver Direcciones</button>
</div>
<button id="editar" tooltiptext="Editar" class="button button-positive 
		button-fab button-fab-bottom-right">
	<i class="icon ion-pencil"/>
</button>



</ion-view>